YACY_PEER_HASH=
YACY_PEER_NAME=
YACY_ADVERTISE_HOST=
YACY_NETWORK_NAME=freeworld
YACYVISITCRAWL_PUBLIC_URL=
SEARCH_INDEX_ENGINE=elasticsearch
ELASTICSEARCH_INDEX=yacy-text
MANTICORE_TABLE=yacy_text
LOG_LEVEL=INFO
