go 1.26

use (
	./libraries/bytesize
	./libraries/searchdocument
	./libraries/serviceruntime
	./libraries/yacycrawlcontract
	./libraries/yacymodel
	./libraries/yacyproto
	./services/renderproxy
	./services/yacycrawler
	./services/yacynode
	./services/yacytextindexer
	./services/yacyvisitcrawl
)
