go 1.26

use (
	./libraries/bytesize
	./libraries/canonicalurl
	./libraries/corpusrecallapi
	./libraries/natstestserver
	./libraries/pagemarkdownstore
	./libraries/searchdocument
	./libraries/serviceruntime
	./libraries/wallclock
	./libraries/yacycrawlcontract
	./libraries/yacymodel
	./libraries/yacyproto
	./services/corpusmarkdown
	./services/corpusrecall
	./services/corpustext
	./services/firecrawlshim
	./services/renderproxy
	./services/visitcrawl
	./services/yacycrawler
	./services/yacynode
)
