use_default_settings: true

server:
  secret_key: "change-me-to-a-random-string"

search:
  formats:
    - html
    - json

engines:
  - name: crawled text search
    engine: crawled_text_search
    shortcut: ct
    categories: general
    enable_http: true
    elasticsearch_url: http://elasticsearch:9200
    elasticsearch_index: yacy-text

plugins:
  result_link_router.SXNGPlugin:
    active: true
